<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}" >
    <style>
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <script type="text/javascript" language="javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script type="text/javascript" language="javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" language="javascript" th:src="@{/js/endpoints.js}"></script>

    <script language="javascript" type="text/javascript">
    $(document).ready( function () {
        $('#dataTable').DataTable({
            scrollY: '460px',
            scrollCollapse: true,
             "columnDefs": [
                { "searchable": false, "targets": [1,2,3,4,5] },
                { "sortable": false, "targets": [3,4] }
              ],
              language: {
                searchBuilder: {
                    title: 'Search Builder Title'
                }
            }
        });

        $( "#dataTable_length" ).prepend( "<a href='#' onclick='reloadWindow();'> <img title='reload' src='../images/refresh_icon.png'/></a> &nbsp; &nbsp;&nbsp;&nbsp;" );
        $("#searchLabel").html("Filter By Service Name:");
    } );
    </script>
    <title>Service Catalogue</title>

</head>

<body>

<div id="errorMsg" th:if="${error!=null}"><font color="red"> <span th:text="${error}"></span></font></div>
<div th:if="${error==null}">

    <form th:action="@{/services}" method="post" id="form">
        <input type="hidden" name="allEndpoints" id="allEndpoints" th:value="${endpointList}" />
        <div>
            <table>
                <tr>
                    <span th:if="${endpointResponseList!=null}"> Total Services : <b> <span th:text="${#lists.size(endpointResponseList)}"></span> </b></span>
                    <b> &#124; </b>
                    <span> Total Instances :  <b><span th:text="${totalInstances}">  </span>  </b></span>
                    <b> &#124; </b>
                    <span> Total Services in Error : <b><span id="totalInError">  </span></b> </span>
                </tr>
            </table>
        </div>

        <br/>
        <table class="table table-bordered table-sm mt-2  table-striped" id="dataTable" data-page-length='10' data-order='[[0, "asc"]]'>
            <thead class="bg-dark" style="color:white">
            <tr>
                <!-- <th> Sr No </th> -->
                <th> MicroService </th>
                <th> Instances </th>
                <th> Port Number </th>
                <th> Health </th>
               <!--  <th> &nbsp; </th> -->
                <th> Project </th>
                <th> Description </th>
                <th> Tables </th>

            </tr>
            </thead>
            <tbody>

            <tr th:if="${endpointResponseList!=null && endpointResponseList.empty}">
                <td colspan="3"> No MicroServices Available </td>
            </tr>

            <tr th:if="${endpointList!=null}" th:each="endpoint, isStat : ${endpointList}"  >
                <!-- <td style="width:5%"><span th:text="${isStat.index + 1}">  </span></td> -->
                <td style="width:15%" ><span th:text="${endpoint}">   </span></td>
                <td style="width:10%" ><span> - </span> </td>
                <td style="width:10%" > <span> - </span> </td>
                <td style="width:5%" > <span> - </span> </td>
                <!-- <td style="width:5%" > <span> - </span> </td> -->
                <td style="width:10%" > <span> - </span> </td>
                <td style="width:10%" > <span> - </span> </td>
                <td id="NoData"> No Data Found!! </td>

            </tr>

            <tr th:if="${endpointResponseList!=null && endpointList==null}" th:each="endpoint, isStat : ${endpointResponseList}"  >
                <!-- <td style="width:5%"><span th:text="${isStat.index + 1}">  </span></td> -->
                <td style="width:15%" th:if="${endpoint.errorMsg==null}"><span th:text="${endpoint.endpointName}">   </span></td>
                <td class="table-warning"  style="width:15%" th:if="${endpoint.errorMsg!=null}"><span th:text="${endpoint.endpointName}">   </span></td>
                <td style="width:10%" th:if="${endpoint.numberOfInstances==null}"><span> - </span> </td>
                <td style="width:10%" th:if="${endpoint.numberOfInstances!=null}"><span th:text="${endpoint.numberOfInstances}"> </span></td>
                <td style="width:10%" th:if="${endpoint.portNumbers==null}"> <span> - </span> </td>
                <td style="width:10%" th:if="${endpoint.portNumbers!=null}"><span th:text="${endpoint.portNumbers}"> </span></td>
                <td style="width:10%" th:if="${endpoint.healthStatus==null}"> <span> - </span> </td>
                <td style="width:5%;vertical-align:center;text-align: center;" th:if="${endpoint.healthStatus!=null} ">
                   <div >
                        <div th:if="${endpoint.healthStatus.name() == 'HEALTHY'}" th:id="'Health'+${endpoint.endpointName}">
                            <img title='Healthy' src='../images/healthy.png'/>
                        </div>
                        <div th:if="${endpoint.healthStatus.name() == 'UNHEALTHY'}" th:id="'Health'+${endpoint.endpointName}">
                            <img title='Unhealthy' src='../images/unhealthy.png'/>
                        </div>
                        <div th:if="${endpoint.healthStatus.name() == 'DEGRADED'}" th:id="'Health'+${endpoint.endpointName}">
                            <img title='Degraded' src='../images/degraded.png'/>
                        </div>
                   </div>

                </td>
                <!-- <td style="width:5%"><button th:id="${isStat.index}" th:data-url="@{/service/{name}/try(name=${endpoint.endpointName})}"
                            onclick="return tryService(this.getAttribute('data-url'),this.id)">Try it!</button>
                </td> -->
                <td style="width:10%" th:if="${endpoint.project==null}"><span>  </span> </td>
                <td style="width:10%" th:if="${endpoint.project!=null}"><span th:text="${endpoint.project}"> </span></td>
                <td style="width:10%" th:if="${endpoint.description==null}"><span>  </span></td>
                <td style="width:10%" th:if="${endpoint.description!=null}"><span th:text="${endpoint.description}"> </span></td>
                <td class="table-danger" id="inError" th:if="${endpoint.errorMsg!=null}"> <span th:text="${endpoint.errorMsg}"> </span> </td>
                <td class="table-success" th:if="${endpoint.metadata!=null && !endpoint.metadata.empty}">

                    <span th:each="metadata, isStat : ${endpoint.metadata}">
                       &#8226;
                        <span th:text="${metadata}"> </span>
                        <br/>
                    </span>

                </td>
            </tr>


            </tbody>
        </table>

    </form>
</div>

</body>
</html>