<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}" >
    <script type="text/javascript" language="javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script type="text/javascript" language="javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>

    <script language="javascript" type="text/javascript">
    $(document).ready( function () {
        $('#dataTable').DataTable();


    } );
    </script>

    <script>
        var hostName;
		var reloadInterval = '30000';
        window.setInterval('reloadWindow()','60000');

        function reloadWindow(){
			window.location.href = window.location.href;
        }
        window.onload = function(){
            hostName = location.host;
            var errDiv = document.getElementById("errorMsg");

            if(errDiv==null){
                var ele = document.getElementById("NoData");

                if(ele!=null){
                    setTimeout('submitForm()','20000'); // Submit form only once to load initial data
                }
            }
        }

        function submitForm(){
            document.getElementById("form").submit();
        }
    </script>


    <title>Service Catalogue</title>

</head>

<body>

<div id="errorMsg" th:if="${error!=null}"><font color="red"> <span th:text="${error}"></span></font></div>
<div th:if="${error==null}">
    <form th:action="@{/}" method="post" id="form">
        <input type="hidden" name="allEndpoints" id="allEndpoints" th:value="${endpointList}" />

        <table class="table table-bordered table-sm mt-2" id="dataTable" data-page-length='10' data-order='[[1, "asc"]]'>
            <thead>
            <tr>
                <th> Sr No </th>
                <th> MicroService </th>
                <th> Instances </th>
                <th> Metadata;Tables </th>
            </tr>
            </thead>
            <tbody>

            <tr th:if="${endpointMetadataList!=null && endpointMetadataList.empty}">
                <td colspan="3"> No MicroServices Available </td>
            </tr>

            <tr th:each="endpoint, isStat : ${endpointMetadataList}"  >
                <td style="width:5%"><span th:text="${isStat.index + 1}">  </span></td>
                <td style="width:15%"><span th:text="${endpoint.endpointName}">   </span></td>
                <td style="width:10%" th:if="${endpoint.numberOfInstances==null}"><span> - </span> </td>
                <td style="width:10%" th:if="${endpoint.numberOfInstances!=null}"><span th:text="${endpoint.numberOfInstances}">   </span></td>
                <td id="NoData" th:if="${endpoint.metadata==null && errorInMetadata==null}"> No Data Found!! </td>
                <td id="" th:if="${errorInMetadata!=null}"> <font color="red"> <span th:text="${errorInMetadata}"> </span> </font> </td>
                <td th:if="${endpoint.metadata!=null && !endpoint.metadata.empty}"> <span th:text="${endpoint.metadata}"> </span> </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
</html>