<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}" >
    <script type="text/javascript" language="javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script type="text/javascript" language="javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>

    <script language="javascript" type="text/javascript">
    $(document).ready( function () {
        $('#dataTable').DataTable({
            "columnDefs": [
                { "searchable": false, "targets": [1] }
            ],
        });

        $( "#dataTable_length" ).prepend( "<a href='#' onclick='reloadWindow();'> <img title='reload' src='../images/refresh_icon.png'/></a> &nbsp; &nbsp;&nbsp;&nbsp;" );
        $("#searchLabel").html("Filter By Table Name:");
    } );
    </script>

    <script>
        var hostName;
		var reloadInterval = '30000';
        //window.setInterval('reloadWindow()','3000000');

        function reloadWindow(){
            alert('reloadWindow');
			window.location.href = window.location.href;
        }
        window.onload = function(){
            hostName = location.host;
            var errDiv = document.getElementById("errorMsg");


            var elms = document.querySelectorAll("[id='errServices']");
            if(elms.length > 0){
                document.getElementById("totalInError").innerHTML = elms.length;
            }



            if(errDiv==null){
                var ele = document.getElementById("NoData");

                if(ele!=null){

                    //setTimeout('submitForm()','2000'); // Submit form only once to load initial data
                }
            }
        }

        function submitForm(){
            document.getElementById("form").submit();
        }
    </script>


    <title>Table Catalogue</title>

</head>

<body>

<div id="errorMsg" th:if="${error!=null}"><font color="red"> <span th:text="${error}"></span></font></div>
<div th:if="${error==null}">

    <div>
        <span th:if="${endpointMetadataList!=null}"> Total Tables : <b> <span th:text="${#lists.size(endpointMetadataList)}"></span> </b></span>
        <b> &#124; </b>
        <span> Total Services in Error : <b><span id="totalInError">  </span></b> </span>
    </div>
    <br/>
    <table class="table table-bordered table-sm mt-2 table-striped" id="dataTable" data-page-length='10' data-order='[[0, "asc"]]'>
        <thead class="bg-dark" style="color:white">
        <tr>
            <!-- <th> Sr No </th> -->
            <th> Table </th>
            <th> Services </th>

        </tr>
        </thead>
        <tbody>

        <tr th:if="${endpointMetadataList!=null && endpointMetadataList.empty}">
            <td colspan="3"> No Tables Available </td>
        </tr>

        <tr th:each="metadata, isStat : ${endpointMetadataList}"  >
            <!-- <td style="width:10%"><span th:text="${isStat.index + 1}">  </span></td> -->
            <td style="width:45%" th:if="${metadata.errorMsg==null}"><span th:text="${metadata.tableName}">   </span></td>
            <td class="table-danger" style="width:25%"  th:if="${metadata.errorMsg!=null}"><span th:text="${metadata.errorMsg}"></span> </td>
            <td id="NoData" th:if="${metadata.serviceList==null && metadata.errorMsg==null}"> No Data Found!! </td>
            <td class="table-success" th:if="${metadata.serviceList!=null && !metadata.serviceList.empty && metadata.errorMsg==null}">

                <span th:each="service, isStat : ${metadata.serviceList}">
                   &#8226;
                    <span th:text="${service}"> </span>
                    <br/>
                </span>

            </td>
            <td id="errorRecord" class="table-warning" th:if="${metadata.serviceList!=null && !metadata.serviceList.empty && metadata.errorMsg!=null}">

                <span th:each="service, isStat : ${metadata.serviceList}">
                   &#8226;
                    <span id="errServices" th:text="${service}"> </span>
                    <br/>
                </span>

            </td>
        </tr>
        </tbody>
    </table>


</div>

</body>
</html>